openapi: 3.0.1
info:
  title: Uptime.com REST Checks Outages API
  description: The Uptime.com REST API provides programmatic access to the Uptime.com website, application, and infrastructure monitoring platform. It covers monitoring checks (HTTP, API/transaction, DNS, TCP, SMTP, SSH, ping, blacklist, malware, and group checks), detected outages, SLA reports, status pages with components and incidents, contact groups, notification integrations, and check tags. All requests are authenticated with an API token passed in the Authorization header.
  termsOfService: https://uptime.com/terms-of-use
  contact:
    name: Uptime.com Support
    url: https://support.uptime.com/
    email: support@uptime.com
  version: '1.0'
servers:
- url: https://uptime.com/api/v1
  description: Uptime.com REST API v1
security:
- tokenAuth: []
tags:
- name: Outages
  description: List and retrieve detected outage records.
paths:
  /outages/:
    get:
      operationId: listOutages
      tags:
      - Outages
      summary: List outages
      description: Returns a paginated list of detected outages.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: check
        in: query
        description: Filter outages by check primary key.
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of outages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutageList'
  /outages/{pk}/:
    get:
      operationId: getOutage
      tags:
      - Outages
      summary: Retrieve an outage
      parameters:
      - $ref: '#/components/parameters/Pk'
      responses:
        '200':
          description: The requested outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outage'
components:
  parameters:
    Pk:
      name: pk
      in: path
      required: true
      description: The primary key (numeric identifier) of the resource.
      schema:
        type: integer
  schemas:
    OutageList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Outage'
    Outage:
      type: object
      properties:
        pk:
          type: integer
        check:
          type: integer
        check_name:
          type: string
        created_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Outage duration in seconds.
        ignored:
          type: boolean
        num_locations_failed:
          type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication. Pass the header as `Authorization: Token your_api_token`. Tokens are generated from Settings > API in the Uptime.com app and require a paid account.'
