openapi: 3.0.1
info:
  title: Uptime.com REST Checks Integrations API
  description: The Uptime.com REST API provides programmatic access to the Uptime.com website, application, and infrastructure monitoring platform. It covers monitoring checks (HTTP, API/transaction, DNS, TCP, SMTP, SSH, ping, blacklist, malware, and group checks), detected outages, SLA reports, status pages with components and incidents, contact groups, notification integrations, and check tags. All requests are authenticated with an API token passed in the Authorization header.
  termsOfService: https://uptime.com/terms-of-use
  contact:
    name: Uptime.com Support
    url: https://support.uptime.com/
    email: support@uptime.com
  version: '1.0'
servers:
- url: https://uptime.com/api/v1
  description: Uptime.com REST API v1
security:
- tokenAuth: []
tags:
- name: Integrations
  description: Manage notification integrations.
paths:
  /integrations/:
    get:
      operationId: listIntegrations
      tags:
      - Integrations
      summary: List integrations
      responses:
        '200':
          description: A list of notification integrations.
    post:
      operationId: createIntegration
      tags:
      - Integrations
      summary: Create an integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration'
      responses:
        '201':
          description: The created integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
  /integrations/{pk}/:
    get:
      operationId: getIntegration
      tags:
      - Integrations
      summary: Retrieve an integration
      parameters:
      - $ref: '#/components/parameters/Pk'
      responses:
        '200':
          description: The requested integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
    delete:
      operationId: deleteIntegration
      tags:
      - Integrations
      summary: Delete an integration
      parameters:
      - $ref: '#/components/parameters/Pk'
      responses:
        '204':
          description: The integration was deleted.
components:
  parameters:
    Pk:
      name: pk
      in: path
      required: true
      description: The primary key (numeric identifier) of the resource.
      schema:
        type: integer
  schemas:
    Integration:
      type: object
      required:
      - name
      - module
      properties:
        pk:
          type: integer
        name:
          type: string
        module:
          type: string
          description: Integration type, e.g. slack, pagerduty, opsgenie, webhook.
        contact_groups:
          type: array
          items:
            type: string
        url:
          type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication. Pass the header as `Authorization: Token your_api_token`. Tokens are generated from Settings > API in the Uptime.com app and require a paid account.'
